notes.rtf
.vscode
lgbeam.egg-info/
*.egg-info/

# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]
*.pyc

# Environment variables
.env

# Sphinx build
docs/build/

# Sphinx doctrees
docs/source/.doctrees/
docs/source/.DS_Store
docs/**/build

# Generated datasets / images
output

# Pytest
.pytest_cache/

# Test-generated output
tests/**/output/

# .DS_Store files
src/.DS_Store
src/lgbeam/dataset/.DS_Store
src/lgbeam/.DS_Store
tests/.DS_Store
tests/dataset/.DS_Store
tests/lgbea,/.DS_Store
.DS_Store

# Temporal
notebooks
training/train.py
models/cnn.py
